@model lab_tracker.Models.domain.Matrix

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <table>
        <thead>
        <tr>
            <td>Student</td>

            @foreach (var assignment in Model.Assignments)
            {
                <td>
                    @Html.DisplayFor(modelItem => assignment.Name)
                </td>
            }
        </tr>
        </thead>


        <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => student.Name)
                </td>
                @foreach (var assignment in Model.Assignments)
                {
                    @foreach (var tryy in Model.AssignmentStudentStatuses)
                    {
                        Console.WriteLine($"{assignment.Id} vs {tryy.AssignmentId}");
                        Console.WriteLine($"{student.Id} vs {tryy.StudentId}");
                        Console.WriteLine($"{assignment.Name} vs {tryy.status}");
                        Console.WriteLine("\n");
                    }

                    <td>
                            @if (Model.AssignmentStudentStatuses
                           .FirstOrDefault(ass => ass.AssignmentId == assignment.Id && ass.StudentId == student.Id)
                           .status == AssignmentStudentStatus.Status.Help){
                               <b>Help needed</b>

                                @*AskHelp(int studentId, int assignmentId)*@
                                <a asp-action="RemoveHelp" asp-route-studentId="@student.Id" asp-route-assignmentId="@assignment.Id">X</a>
                           }else{
                               <p></p>
                                <a asp-action="AskHelp" asp-route-studentId="@student.Id" asp-route-assignmentId="@assignment.Id">Ask help</a>
                           }
@*                        @Html.DisplayFor(modelItem => Model.AssignmentStudentStatuses
                            .FirstOrDefault(ass => ass.AssignmentId == assignment.Id && ass.StudentId == student.Id)
                            .status)*@
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>